@font-face {
    font-family: Roboto_Slab_Black;
    src: url(fonts/RobotoSlab-Black.ttf);
}

@font-face {
    font-family: Roboto_Slab_Bold;
    src: url(fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: Roboto_Slab_Medium;
    src: url(fonts/RobotoSlab-Medium.ttf);
}

@font-face {
    font-family: Roboto_Slab_Regular;
    src: url(fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: Roboto_Slab_Thin;
    src: url(fonts/RobotoSlab-Thin.ttf);
}

body {
    background-color: #F7F8FC;
    font-family: Roboto_Slab_Regular;
    color: #0F1E26;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.nav {
    margin-bottom: 10px;
}

.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navLi {
    float: left;
}

.navLi a {
    display: block;
    color: #F7F8FC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navLi a:hover {
    background-color: #111;
}

#first_nav_button {
    margin-left: 10px;
}

section {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.profileSection {
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

.profileImg {
    height: 28%;
    width: 28%;
    margin-top: 20px;
    margin-left: 12px;
    float: left;
    display: inline-flexbox;
    border: 2px solid #0F1E26;
    border-radius: 50%;
}

.skillset {
    display: inline-flexbox;
    margin-left: 36%;
    padding-top: 2%;
}

.skillsetTable table {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.empty_space {
    height: 10px;
}

table,
th,
td {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 92%;
    height: 30%;
}

th,
td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #333;
    color: white;
}

footer {
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 4px;
    background-color: #333;
    color: #F7F8FC;
}

.socials_icons_links {
    margin-left: 86%;
    height: 60px;
    width: 130px;
}

#social_icons_desc {
    font-size: 9px;
}

.social_icons_linkedin {
    width: 40px;
    margin-right: 6px;
}

.social_icons_twitter {
    width: 34px;
    margin-right: 8px;
}

.social_icons_github {
    width: 34px;
}